
/* Vars */
$primary-color: #3B5A76;
$background-color: #EDEDED;
$text-color: #363636;
$font-size: 16px;

body {
    padding-bottom: 0;
    font-family: 'Open Sans', 'Arial', 'Tahoma';
    color: $text-color;
    background: $background-color;
    font-size: $font-size;
}

.primary, strong, h2 {
    color: $primary-color;
}

.experience-years {
    white-space: nowrap;
}

.container-main {
    background: #FFF;
    margin-top: 80px;
    padding: 0 30px 30px 30px;
}

header {
    min-height: 100px;
    overflow: auto;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4em;
    font-size: 1.5em;
}

header h1 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.4em;
}

.profile-img {
    width: 160px;
    display: block;
    margin: auto;
    margin-top: -80px;
}

.line {
    max-width: 100%;
}

.contact-list,
.work-list {
    padding: 0;
    margin: 0;
}


.contact-list li,
.recent-project-list li {
    list-style: none;
    font-weight: bold;
    line-height: 3.2em;
}

.recent-project-list li {
    float: left;
}

.contact-list span {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0.1em;
    margin-left: 37px;
    font-size: 15px;
    color: #CCC;
}

.row {
    margin-bottom: 20px;
}

.media {
    background: $background-color;
    padding: 10px;
}

.service-box {
    border-radius: 0 !important;
}

footer {
    background: $primary-color;
    color: #FFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
